@charset "utf-8";

/* Basic Body Structure */
body {
    background: #002b36;
    color: #839496;
    font-family: 'Myriad Pro';
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* Links */
a {
    /*border-bottom: dotted 1px #8cb3ff;*/
    /*border-bottom: solid 1px #8cb3ff;*/
    color: #8cb3ff;
    /*text-decoration: none;*/
    background-color: transparent;

    /*display: inline-block;
    vertical-align: top;
    max-width: 60em;*/
}

/* How the appearance of links changes when */
/* hovered over. */
a:hover {
    /*border: none;*/
    /* Changes the dotted underline on links to */
    /* solid upon hovering. */
    /*border-bottom: solid 1px #8cb3ff;*/
}

/* Coloring for URLs */
a:link {
    /* This only affects URLs in Textual: */
    color: #268bd2;
    /* Don't let long links break the layout */
    display: inline-block;

    /* Removed for now because it doesn't play nice */
    /* on lines with inline nick boxes.*/
    /*vertical-align: top;*/
    max-width: 100%;
    /*max-width: 60em;*/
}

/* Make channel links appear clickable. */
/* (Unlike regular links, you have to double click. */
span.channel {
    color: #268bd2;
    text-decoration: underline;
    cursor: hand;
}

#body_home {
    bottom: 0;
    left: 0;
    padding: 2em 0 4px;
    position: absolute;
    right: 0;
    top: 0;
}

body[type*=server] #body_home {
    padding: 2px 0;
}

.message,
.time {
    padding: 5px 8px 4px;
    /* Eureka! This adds a subtle line between all chat messages! */
    border-bottom: 1px solid #073642;
}

.sender {
    padding: 5px 8px 3px;
    border-right: 1px solid #073642;
}

.message {
    /*max-width: 90%;*/
    max-width: 75%;
    width: 100%;
}

body[type*=server] .message {
    max-width: 100%; /* BADBADNOTGOOD YA CHANGED THIS B (90%) */
}

.time {
    color: #839496 !important;
    padding: 4px 8px 4px;
}

/* Background of ??? */
.sender,
.time {
    background: #002b36;
}

/* Background of field containing own nickname */
.text .sender[mtype="myself"] {
    /*min-width: 105px;
    max-width: 220px;*/
    background: #073642;
    border-right: 1px solid #073642;
    /*border-bottom: 1px solid #ff0000;*/
}

.sender {
    font-weight: 600;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
}

body[type*=server] .sender { display: none; }

.time {
    color: #888;
    font-size: 0.8em;
    line-height: 1.8;
    white-space: nowrap;
}

.line {
    display: -webkit-flex;
    -webkit-flex-flow: row;
}

/* This is the background of messages you send to the */
/* channel. */
.line[nickname-type*=myself] .message {
    background: #002b36;
}

/* /me */
.line[ltype*=action] .message,
.line[ltype*=action] .sender {
    /*background: #002b36;*/
    font-style: italic;
}

/* Match own nick field on actions with regular */
/* lighter color of own nick field. */
.line[nickname-type*=myself] 
.line[ltype*=action] .sender {
    /*background: #073642;*/
}

/* Fix action formatting. */
.line[type*=action] .sender {
    padding: 5px 8px 3px;
    /*border-right: none;*/ /* Experiment with this. */
    /* Will need to place a border on the bottom of own */
    /* sender area. */
}

/* Placed before the user's name when performing */
/* a /me action. */
.line[ltype*=action] .sender:before {
    content: '• ';
}

/* Any and all channel events */
/*body[type*=channel]*/ .event .message {
    font-style: italic;
    color: #444444 !important;
    background: #000000;
    font-size: 0.8em !important;
    padding: 3px 8px 1px;
    line-height: 1.0rem;

    border-bottom: 1px solid transparent;
    /*border-bottom: #ff0000;*/
}

/*body[type*=channel]*/ .event .time {
    color: #444444 !important;
    background: #000000;
    font-size: 0.8em !important;
    padding: 3px 8px 1px;
    /*padding: 2 8px;*/
    line-height: 1.0rem;

    border-bottom: 1px solid transparent;
}

.event:hover .message, .event:hover .time{
    color: #839496 !important;
}

.event + :not(.event) .message, 
.event + :not(.event) .time {
    border-top: 1px solid #073642;
}

/* Affects only the before message, in this */
/* case just the arrows before the event message */
/* occurs. */
.event .message:before {
    content: '» ';
}

/* Different symbols for join/leave messages */
/* for easier visual reference. */
.line[ltype*=join] .message:before {
    content: '→ ';
}

/* Green for joins */
.line[ltype*=join] .message:hover:before {
    color: #339933 !important;
}

.line[ltype*=kick] .message:before,
.line[ltype*=part] .message:before,
.line[ltype*=quit] .message:before {
    content: '← ';
    /*font-weight: bold;*/
}

/* Red for leaving */
.line[ltype*=kick] .message:hover:before,
.line[ltype*=part] .message:hover:before,
.line[ltype*=quit] .message:hover:before {
    color: #dc322f !important;
}

/* Lock icon that appears next to OTR chats. */
/* (Off the record) */
.encryptionLock {
    display: none;
    vertical-align: top;
/*    height: 26px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding: 5px 8px 3px;*/
}

/* Keep messing around with this. */
body div.line[ltype*=off-the-record-encryption-status] p {
    /*background-color: #ff0000 !important;*/
    display: block !important;
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
    background-color: #ff0000;
}

/* This changes what's inside the actual event */
.message[ltype*=off-the-record-encryption-status]:hover {
    color: #859900 !important;
}

/* Whois message styling */
.whois .message {
    background-color: #073642;
    color: #93a1a1 !important;
}

.whois .time {
    background-color: #073642;
    color: #93a1a1 !important;
}

.line[type*=debug] .sender{
    /*background-color: #073642 !important;*/
    /*content: "» ";*/
    /*color: #93a1a1 !important;*/
}

.line[type*=debug] .time {
    background-color: #073642;
    color: #93a1a1 !important;
}

.message[type*=notice],
.line[type*=notice] .time {
    background-color: #073642;
    color: #93a1a1 !important;
}

body[type*=server] .event .message {
    color: #999;
    background-color: #073642;
    font-size: inherit;
    padding-left: 1em;
    padding-right: 2em;
    border-bottom: 1px solid #073642;
}

body[type*=server] .time {
    color: #999;
    background-color: #073642;
    font-size: inherit;
    padding-left: 1em;
    padding-right: 2em;
    border-bottom: 1px solid #073642;
}

body[type*=server] .event .message:before {
    content: '';
    border-bottom: 1px solid #eee8d5; // Added
}

/* This controls the background color of the area */
/* next to the event messages where a nick would be. */
.event .sender {
    background: inherit;
    /*border-right: 1px solid #FF0000 !important;*/
    /*border-top: 1px solid #eee8d5;*/
    /*border-bottom: 1px solid #eee8d5; // Added*/
}

/* This controls the text color of the entire highlighted */
/* message, as well as the timestamp text color. */
.text[highlight*=true],
.text[highlight*=true] .time {
    font-weight: bold;
    color: #2aa198 !important;
    border:none; /* BADBADNOTGOOD */
    /*color: #ff0000;*/
}

/*.text[highlight*=true][type*=privmsg] .sender {
    padding: 5px 8px 3px !important;
}*/

.text[highlight*=true] {
    border: 1px solid #284e84;
    border-left: none;
    border-right: none;
    outline: none;
}

.text[highlight*=true]:hover {
    border-color: #3069ab;
}

.text[highlight*=true] + .text[highlight*=true] {
    border-top: none;
}

.text[highlight*=true] .message,
.text[highlight*=true] .sender,
.text[highlight*=true] .time {
    background-color: #1b3458;
}

.text[highlight*=true]:hover .message,
.text[highlight*=true]:hover .sender,
.text[highlight*=true]:hover .time {
    background-color: #204571;
}

.znc-playback-end {
    border-bottom: 1px dashed #b58900;
}

.znc-playback-start {
    border-top: 1px dashed #b58900;
}

/********** Message buffer session indicator **********/

.message_buffer_session_indicator {
    display: flex;
    display: -webkit-flex;
    padding: 0.5em 0;
    /*padding: 0.2em 0;*/
}

.message_buffer_session_indicator > hr {
    background: #93a1a1; /* Lines on either side */
    border: 0;
    height: 1px;
    margin-top: 0.6em;
    flex: 1;
    -webkit-flex: 1;
}

.message_buffer_session_indicator > span {
    font-style: oblique;
    margin: 0 1em;
    color: #93a1a1;
}

.message_buffer_session_indicator + #mark {
    display: none;
}

/* ************************************************* */

/* Selected User */
.sender {
    cursor: pointer;
}

div.line[ltype="privmsg"]:not(.selectedUser),
div.line[ltype="action"]:not(.selectedUser) {
    transition-property: border-top, border-bottom, background-color;
    transition-duration: 0.25s, 0.25s, 0.25s;
}

div.line[ltype="privmsg"] .time:not(.selectedUser),
div.line[ltype="action"] .time:not(.selectedUser) {
    transition: color 0.25s;
}

div.line.selectedUser[highlight="false"] .time {
    transition: color 0.25s ease-in;
    color: #93a1a1; /* Emphasized content */
}

/* Remove existing borders when selected */
div.line.selectedUser[highlight="false"] .message,
div.line.selectedUser[highlight="false"] .time {
    border: none;
}

div.line.selectedUser[highlight="false"] {
    transition-property: color, border-top, border-bottom, background-color;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;

    color: #93a1a1; /* Emphasized content */
    border: 1px solid #0f728a; /* dark red top/bottom border */
    border-left: none;
    border-right: none;
    outline: none;
}

div.line.selectedUser[highlight="false"]:hover {
    border-color: #aa362b;
}

div.line.selectedUser[highlight="false"] + div.line.selectedUser[highlight="false"] {
    border-top: none;
}

/* Color of selected messages */
div.line.selectedUser[highlight="false"] .message,
div.line.selectedUser[highlight="false"] .sender,
div.line.selectedUser[highlight="false"] .time {
    background-color: #073642;
}

div.line.selectedUser[highlight="false"]:hover .message,
div.line.selectedUser[highlight="false"]:hover .sender,
div.line.selectedUser[highlight="false"]:hover .time {
    background-color: #68271d;
}


/* Mark made with Command-L. */
#mark {
    border-bottom: 1px dotted #b58900;
    margin: 1px 0;
    -webkit-transition: 0.2s linear;
}

/* Loading Screen */
body div#loading_screen {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -150px;
    width: 300px;
    height: 21px;
    font-size: 18px;
    background: #181818;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    opacity: 1; /* Set by JavaScript */
    -webkit-transition: opacity 0.8s linear;
}

/* Topic Bar */
#topic_bar {
    background: rgba(51, 51, 51, 0.7); /* #333 */
    border-bottom: 1px solid #404040;
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);*/
    /*color: #efefef;*/
    color: #93a1a1;
    /*font-size: small !important;*/
    font-weight: 600;
    left: 0;
    opacity: 1.0 !important;  /* Overrides JS opacity. */ 
    padding: 4px 12px 2px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2;

    /* Uncomment this and lines 595-598 for */
    /* a topic bar that only shows the whole */
    /* topic when hovering. */
    /*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/
}

/* Hovering over the topic makes it completely */
/* opaque. */
#topic_bar:hover {
    background: rgba(51, 51, 51, 1.0);

    /* Uncomment these and the lines in #topic_bar */
    /* for a topic bar that only shows the whole */
    /* topic when hovering. */

    /*overflow: visible;
    white-space: normal;*/
}


/* Links in topic bar */
#topic_bar a,
#topic_bar span.channel {
    color: #268bd2;
    border-color: #268bd2;
    /*border-color: #f5f5f5;*/
    /*text-shadow: 1px 1px rgba(10, 10, 10, 0.7);*/
}

/* Images */
a img {
    display: block;
    border: 0;
}

a img:hover {
    outline: 2px solid #284e84;
}

img {
    display: block;
    margin: 15px 15px 12px 0;
    max-height: 40%;
    max-width: 95%;
    /* Golden ratio ~ 485/300 */
    /*max-height: 300px;
    max-width: 485px;*/
}

/* Nickname Colors */

/* Creates an identifying box around nicknames */
/* referred to in messages. */
body .inline_nickname {
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 3px 2px;
    background: #2C3E50;
    border: 1px solid #34495E;
    border-radius: 3px;
    /*margin: 2px 0;*/
}

body .inline_nickname:hover {
    text-decoration: underline;
    cursor: hand;
}

.message[class*=inline_nickname] .sender  {
    color: #ff0000 !important;
}

body .text .sender[type*=myself] { color: #6c71c4; }

body .sender[type*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
    color: #7cfc00;
}

body .sender[type*=normal][colornumber='1'],
body .inline_nickname[colornumber='1']  { 
    color: #c2ff40;
}

body .sender[type*=normal][colornumber='2'],
body .inline_nickname[colornumber='2']  { 
    color: #87ceeb;
}

body .sender[type*=normal][colornumber='3'],
body .inline_nickname[colornumber='3']  { 
    color: #e1c4ff;
}

body .sender[type*=normal][colornumber='4'],
body .inline_nickname[colornumber='4']  { 
    color: #6495ed;
}

body .sender[type*=normal][colornumber='5'],
body .inline_nickname[colornumber='5']  { 
    color: #ff69b4;
}

body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6']  { 
    color: #ffb6c1;
}

body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7']  { 
    color: #48d1cc;
}

body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8']  { 
    color: #ee82ee;
}

body .sender[type*=normal][colornumber='9'],
body .inline_nickname[colornumber='9']  { 
    color: #f66e72;
}

body .sender[type*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] { 
    color: #69ff89;
}

body .sender[type*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] { 
    color: #ffe170;
}

body .sender[type*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] { 
    color: #95d38f;
}

body .sender[type*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] { 
    color: #7eb6be;
}

body .sender[type*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] { 
    color: #f3d8e2;
}

body .sender[type*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] { 
    color: #f66e72;
}

body .sender[type*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] { 
    color: #faa4a6;
}

body .sender[type*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] { 
    color: #ffd4a8;
}

body .sender[type*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] { 
    color: #33ffbb;
} /* Hi Neil ffeba5 */

body .sender[type*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] { 
    color: #bae2b6;
}

body .sender[type*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] { 
    color: #aad0d4;
}

body .sender[type*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] { 
    color: #a8d0ef;
}

body .sender[type*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] { 
    color: #98a3ff;
}

body .sender[type*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] { 
    color: #c09bc3;
}

body .sender[type*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] { 
    color: #c38074;
}

body .sender[type*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] { 
    color: #a6e1a4;
}

body .sender[type*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] { 
    color: #7f99e1;
}

body .sender[type*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] { 
    color: #5ba2e1;
}

body .sender[type*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] { 
    color: #e1de7d;
}

body .sender[type*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] { 
    color: #e199a8;
}

body .sender[type*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] { 
    color: #b5a0e1;
}

/* mIRC Color Codes */
.effect[color-number='0']  { color: #ffffff; }
.effect[color-number='1']  { color: #000000; }
.effect[color-number='2']  { color: #000088; }
.effect[color-number='3']  { color: #008800; }
.effect[color-number='4']  { color: #ff0000; }
.effect[color-number='5']  { color: #880000; }
.effect[color-number='6']  { color: #880088; }
.effect[color-number='7']  { color: #ff8800; }
.effect[color-number='8']  { color: #ffff00; }
.effect[color-number='9']  { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0']  { background-color: #ffffff; }
.effect[bgcolor-number='1']  { background-color: #000000; }
.effect[bgcolor-number='2']  { background-color: #000088; }
.effect[bgcolor-number='3']  { background-color: #008800; }
.effect[bgcolor-number='4']  { background-color: #ff0000; }
.effect[bgcolor-number='5']  { background-color: #880000; }
.effect[bgcolor-number='6']  { background-color: #880088; }
.effect[bgcolor-number='7']  { background-color: #ff8800; }
.effect[bgcolor-number='8']  { background-color: #ffff00; }
.effect[bgcolor-number='9']  { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
